extends: default

rules:
  line-length: disable
  document-start: disable
  truthy:
    allowed-values: ['true', 'false']
    check-keys: false
  comments-indentation: enable
  comments:
    require-starting-space: true
    min-spaces-from-content: 1
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true

ignore: |
  .venv/
